@inject Framework.Application.IAuthHelper authHelper;

<!--====================  header area ====================-->
<div class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  header wrapper  =======-->
                <div class="header-wrapper d-none d-lg-flex">
                    <!-- logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/Theme/assets/img/logo.png" class="img-fluid" alt="">
                        </a>
                    </div>
                    <!-- menu wrapper -->
                    <div class="navigation-menu-wrapper">
                        <nav>
                            <ul>
                                <li>
                                    <a asp-page="Index">خانه</a>
                                </li>
                                @if(authHelper.IsAuthenticated() == false)
                                {
                                    <li>
                                        <a asp-page="Account">ورود/ثبت نام</a>
                                    </li>
                                }
                                else
                                {
                                <li>
                                    <a asp-page="Account" asp-page-handler="Logout">خروج</a>
                                </li>
                                }
                                <li class="menu-item-has-children">
                                    <a href="#">PAGES</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">Page List</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="cart.html">Cart</a>
                                                </li>
                                                <li>
                                                    <a href="checkout.html">Checkout</a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html">Wishlist</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a>مدیریت</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a asp-area="Administration">مدیریت فروشگاه</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a asp-area="Administration" asp-page="/Shop/Products/Index">محصولات</a>
                                                </li>
                                                <li>
                                                    <a asp-area="Administration" asp-page="/Shop/ProductCategories/Index">دسته بندی محصولات</a>
                                                </li>
                                                <li>
                                                    <a asp-area="Administration" asp-page="/Shop/ProductPictures/Index">تصاویر محصولات</a>
                                                </li>
                                                <li>
                                                    <a asp-area="Administration" asp-page="/Shop/Slides/Index">اسلاید ها</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a asp-area="Administration" asp-page="/Inventory/Index">مدیریت انبار</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a asp-area="Administration">مدیریت تخفیف ها</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a asp-area="Administration" asp-page="/Discounts/CustomerDiscounts/Index">تخفیف مشتری</a>
                                                </li>
                                                <li>
                                                    <a asp-area="Administration" asp-page="/Discounts/ColleagueDiscounts/Index">تخفیف همکار</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a asp-area="Administration">مدیریت کاربران</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a asp-area="Administration" asp-page="/Roles/Index">مدیریت نقش ها</a>
                                                </li>
                                                <li>
                                                    <a asp-area="Administration" asp-page="/Accounts/Index">مدیریت حساب ها</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">مدیریت بلاگ</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a asp-area="Administration" asp-page="/Blog/ArticleCategories/Index">مدیریت دسته بندی مقالات</a>
                                        </li>
                                        <li>
                                            <a asp-area="Administration" asp-page="/Blog/Articles/Index">مدیریت مقالات</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- header icon -->
                    <div class="header-icon-wrapper">
                        <ul class="icon-list">
                            <li>
                                <a href="javascript:void(0)" id="search-overlay-trigger">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </li>
                            <li>
                                <div class="header-cart-icon">
                                    <a href="#" id="minicart-trigger">
                                        <i class="ion-bag"></i>
                                        <span class="counter">3</span>
                                    </a>
                                    <!-- mini cart  -->
                                    <div class="mini-cart" id="mini-cart">
                                        <div class="cart-items-wrapper ps-scroll">
                                            <div class="single-cart-item">
                                                <a href="javascript:void(0)" class="remove-icon">
                                                    <i class="ion-android-close"></i>
                                                </a>
                                                <div class="image">
                                                    <a href="single-product.html">
                                                        <img src="assets/img/products/product-1-80x106.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p class="product-title">
                                                        <a href="single-product.html">Cillum dolore furniture</a>
                                                    </p>
                                                    <p class="count"><span>1 x </span> $402</p>
                                                </div>
                                            </div>
                                            <div class="single-cart-item">
                                                <a href="javascript:void(0)" class="remove-icon">
                                                    <i class="ion-android-close"></i>
                                                </a>
                                                <div class="image">
                                                    <a href="single-product.html">
                                                        <img src="assets/img/products/product-2-80x106.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p class="product-title">
                                                        <a href="single-product.html">Lorem ipsum furniture</a>
                                                    </p>
                                                    <p class="count"><span>1 x </span> $500</p>
                                                </div>
                                            </div>
                                            <div class="single-cart-item">
                                                <a href="javascript:void(0)" class="remove-icon">
                                                    <i class="ion-android-close"></i>
                                                </a>
                                                <div class="image">
                                                    <a href="single-product.html">
                                                        <img src="assets/img/products/product-3-80x106.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p class="product-title">
                                                        <a href="single-product.html">Cillum dolore tool</a>
                                                    </p>
                                                    <p class="count"><span>1 x </span> $607</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-calculation">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-right">Sub-Total :</td>
                                                        <td class="text-left">$220.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">Eco Tax (-2.00) :</td>
                                                        <td class="text-left">$6.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">VAT (20%) :</td>
                                                        <td class="text-left">$44.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">Total :</td>
                                                        <td class="text-left">$270.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="cart-buttons">
                                            <a href="cart.html">VIEW CART</a>
                                            <a href="checkout.html">CHECKOUT</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="header-settings-icon">
                                    <a href="javascript:void(0)" class="header-settings-trigger"
                                       id="header-settings-trigger">
                                        <div class="setting-button">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>

                                    <!-- settings menu -->
                                    <div class="settings-menu-wrapper" id="settings-menu-wrapper">
                                        <div class="single-settings-block">
                                            <h4 class="title">MY ACCOUNT </h4>
                                            <ul>
                                                <li>
                                                    <a href="login-register.html">Register</a>
                                                </li>
                                                <li>
                                                    <a href="login-register.html">Login</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="single-settings-block">
                                            <h4 class="title">CURRENCY: USD </h4>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">€ Euro</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">$ US Dollar</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="single-settings-block">
                                            <h4 class="title">LANGUAGE: EN-GB </h4>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <img src="assets/img/icons/en-gb.png" alt=""> English
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <img src="assets/img/icons/de-de.png" alt=""> Germany
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--=======  End of header wrapper  =======-->
                <!--=======  mobile navigation area  =======-->

                <div class="header-mobile-navigation d-block d-lg-none">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-6">
                            <div class="header-logo">
                                <a href="index.html">
                                    <img src="assets/img/logo.png" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="mobile-navigation text-right">
                                <div class="header-icon-wrapper">
                                    <ul class="icon-list justify-content-end">
                                        <li>
                                            <div class="header-cart-icon">
                                                <a href="cart.html">
                                                    <i class="ion-bag"></i>
                                                    <span class="counter">3</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="mobile-menu-icon"
                                               id="mobile-menu-trigger">
                                                <i class="fa fa-bars"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--=======  End of mobile navigation area  =======-->

            </div>
        </div>
    </div>
</div>
<!--====================  End of header area  ====================-->