@page
@model ServiceHost.Areas.Administration.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}
<div class="grid-container">
    <div class="grid-item"><a asp-page="./Shop/Products/Index">فروشگاه</a></div>
<div class="grid-item"> 
    <a asp-page="./Discounts/CustomerDiscounts/Index">تخفیف ها</a>
</div>
</div> 

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100%;
        width: 100%;
    }
    .grid-item {
        width:100%;
        border: rgb(255 255 255 / 0.10) 0.5px solid;
    }
    .grid-item a{
        display: flex;
        background-color: darkcyan;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        font-size: 30px;
        color: wheat;
    }
        .grid-item a:hover {
            background-color: wheat;
            color: lightsteelblue;
        }
</style>